<!DOCTYPE html>
<html>
<head>
	<title>Login page</title>
	<script type="text/javascript" src="/externalFiles/jsFiles/jquery.min.js"></script>
	<script type="text/javascript" src="/externalFiles/jsFiles/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/externalFiles/cssFiles/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/loginPage.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8">
				<br><br>
				<h1>File not found ..)</h1>				
				<h1>Requested api call : <%= apiCall %> </h1>
			</div>
		</div>
	</div>
</body>
</html>