<!DOCTYPE html>
<html>
<head>
	<title>Error Registration page</title>
</head>
<body>
	<h3 style="text-align: center">
		<b style="color: red;">Alert: </b>Email id which you given is already registered with our database. so please provide us a different email id.<br>
		click here to go back to the <a href="/auth/register">Registration page</a>
	</h3>
</body>
</html>