<!DOCTYPE html>
<html>
<head>
<title>Home page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="/externalFiles/jsFiles/jquery.min.js"></script>
<script type="text/javascript" src="/externalFiles/jsFiles/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/externalFiles/cssFiles/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/homePage.css">
</head>
<body>
<div class="banner">
  <div class="banner-content">
    <span class="welcomeHeader">Hi <%= userData.username %>,</span>
    <span class="welcomeHeader2">Welcome to the coding Enviroment</span>
    <button class="btn btn-default" style="color: black;font-weight: bold">
    	<a href="/logout">logout</a>
    </button>
  </div>
</div>
</body>
</html>
